.RCB {
  background-image: linear-gradient(#d91c1f, #1e293b);
}
/* , #1e293b */
.KXP {
  background-image: linear-gradient(#d91c1f, #a4261d);
}

.KKR {
  background-image: linear-gradient(#4f5db0, #5755a7);
}

.CSK {
  background-color: #f7db00;
  background-image: linear-gradient(#f7db00, #1e293b);
}

.RR {
  background-image: linear-gradient(#da237b, #1e293b);
}

.MI {
  background-image: linear-gradient(#13418b, #1e293b);
}

.SH {
  background-image: linear-gradient(#f26d22, #1e293b);
}

.DC {
  background-image: linear-gradient(#13418b, #1e293b);
}

.team-matches-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.render-team-match-container {
  width: 90%;
  max-width: 1100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-banner {
  width: 100%;
}

.team-match-heading {
  color: #ffffff;
  font-family: Bree Serif;
  font-size: 18px;
  align-self: flex-start;
}

.match-cards-list-container {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
